<section class="authorize-container">
<h3>Want to become a woosher?</h3>

<section class="auth-form">
<p>Just agree to our contract</p>

<form action="/become-woosher" method="POST">

    <input type="text" name="role" value="WOOSHER" hidden>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
</form>
</section>
</section>