
<section class="loginpage">
<img class="woosh-logo" src="http://res.cloudinary.com/dpt8pbi8n/image/upload/v1550545408/Woosh.png">

<section class="login-container">

    <h4>Log in</h4>

<div clas="login-card">
<div class="row">
    <form class="col s12" action="/login" method="POST">
    {{error}}
            <div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="buttons-login">
                <div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Log in
            <i class="material-icons right">send</i>
                </button>
            </div>
            </div>
        </form>
    </div>
    </div>
</section>
        <div class="flex">
            <p>Need an account?</p>
            <a href="/signup" id="signup-button" type="submit" name="action"><button class="btn waves-effect waves-light">Sign up</button></a>
                </div>
        </div>
</section>