
<section class="loginpage">
<section class="login-container">
    <h4>Log in</h4>

<div clas="login-card">
<div class="row">
    <form class="col s12" action="/login" method="POST">
    {{error}}
            <div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
                <div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
                </button>
            </div>
            </div>
        </form>
    </div>
    </div>
</section>
</section>