{{!-- <section class="signup-container">

    <div>
        <h3>Sign up</h3>
        <form action="/signup" method="POST">
            <p> Name:</p>
            <input type="text" name="name">

            <p> Last name:</p>
            <input type="text" name="lastName">
            <p> Email: </p>
            <input type="email" name="email">

            <p> Profile picture: </p>
            <input type="file" name="photoURL">
        </form>
    </div>


</section> --}}

<section class="signupPage">
<section class="signup-container">
    <img height="80" width="280"src="http://res.cloudinary.com/dpt8pbi8n/image/upload/v1550545408/Woosh.png">

    <h4>Sign up</h4>

<div clas="signup-card">
    <div class="row">
        <form class="col s12" action="/signup" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input  type="text" class="validate" name="name">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" name="lastName">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            {{!-- <div class="row">
                <div class="input-field col s12 ">
                    <input id="address" type="text" class="validate" name="address">
                    <label for="address">Address</label>
                </div>
            </div> --}}
            <div class="row">
                <div class="input-field col s12 ">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
                </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password2" type="password" class="validate" name="password2">
                    <label for="password2">Re-type Password</label>
                </div>
            </div>
                <div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Profile pic</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
                </button>

  <input type="text" name="lng" hidden="true" id="lng" >
  <input type="text" name="lat" hidden="true" id="lat">
               

                </form>
                </div>
    </div>
    </div>
</section>          
    <section class="address">
    <p>Write address here:</p>

    <div class="map-signup" id="map"></div>  
    </section>
</section>


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',

});
const geoCoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken
})
map.addControl(geoCoder)

geoCoder.on('result',(res) =>{
    console.log(res.result)
document.getElementById('lng').value = res.result.center[0]
document.getElementById('lat').value = res.result.center[1]

  
})

console.log(geoCoder)

</script>