
<section class="signupPage">
<section class="signup-container">
    {{#if error}}
            <h2>Sign up</h2>
        <div class="uk-alert-danger">
            {{error}}
        </div>
    {{else}}
        <h2>Sign up</h2>
    {{/if}}

    <div clas="signup-card">
        <div class="row">
            <form class="col s12" action="/signup" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input  type="text" class="validate" name="name">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" name="lastName">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 ">
                        <input id="email" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password2" type="password" class="validate" name="password2">
                        <label for="password2">Re-type Password</label>
                    </div>
                </div>
                <div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Profile pic</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <input type="text" name="lng" hidden="true" id="lng" >
                <input type="text" name="lat" hidden="true" id="lat">
                <input type="text" name="address" hidden="true" id="address">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</section>



<section id="signup-map">
    <a href="/"><img class="woosh-logo" src="http://res.cloudinary.com/dpt8pbi8n/image/upload/v1550545408/Woosh.png"></a>
    <p>Search your address</p>
    <div class="map-signup" id="map"></div>
    <p class="mind-note">For the moment our services are limited to some areas of Mexico City.</p>
    <form class="col s12" action="/signup" method="POST">

    </form>

</section>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ'

    var bounds = [[-99.215766, 19.271481], [-99.067508, 19.494349]]

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [-99.133209, 19.432545],
        zoom: 10,
        maxBounds: bounds,
    })


    const geoCoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        countries: 'mx',
        bbox: [-99.215766, 19.271481, -99.067508, 19.494349],
    })
map.addControl(geoCoder)


geoCoder.on('result',(res) =>{
document.getElementById('lng').value = res.result.center[0]
document.getElementById('lat').value = res.result.center[1]
document.getElementById('address').value = res.result.place_name
    
})
</script>