<html>
  <head>
    <title>My First Map</title>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My First Map</h3>
    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV4QeXMihRnMRw3Mqa26FbZrfOcxw6lHZ"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
<script>

    function startMap() {
  const whoosherLoc = {
  	lat: 41.3977381,
  	lng: 2.190471916};
  const map = new google.maps.Map(
    document.getElementById('map'),
    {
      zoom: 5,
      center: whoosherLoc
    }
  );
}

startMap();

</script>
