<nav id="navBar">
    {{#if loggedUser}}
        <span>
     <a href="/"> <img src="images/Woosh.png" alt="woosh-logo" height="60"> </a>
    </span>
        <span class="subNav">
      <a class="nav-bold" href="/profile">DASHBOARD</a>
      <a href="/logout">LOGOUT</a>
    </span>
    {{else}}
        <span>
     <a href="/"> <img src="images/Woosh.png" alt="woosh-logo" height="60"> </a>
    </span>
    <span class="subNav">
      <a class="nav-bold" href="/signup">SIGNUP</a>
      <a href="/login">LOGIN</a>
    </span>
    {{/if}}
</nav>

<section id="home-view">
    <h3>Laundry made easy</h3>
    <br>
    <h5>
    Do you need an extra flow of income or do you need to spend less washing your clothes? <br><br> <b>Woosh</b> helps people connect
    to get laundry done. If you're a <b>Woosher</b>, you can earn money from washing
    and if you need your clothes washed but have no time or money to take it to the laundry, <b>Wooshers are here for you!</b>
    </h5>
    <br>
    <a href="/signup"><button>Get Started</button></a>
    <img width="50%" src="/images/laundry.png" alt="laundry machine">
</section>