<section class="servicePage">

<section class="service-container">

<div>
    
<form action="/new" method="POST">
<h4 id="serviceHeading">Request your Woosher now!</h4>
<p>
    It has never been this easy to clean my clothes.<br/>
    Request your woosher, to get your clothes cleaned in less<br/>
    than three days.<br/>

</p>
    <p>
      <label>
        <input id="indeterminate-checkbox" type="checkbox" />
        <span>Wash and Load 2$ per KG.</span>
      </label>
    </p>
    <p>
      <label>
        <input id="indeterminate-checkbox" type="checkbox" />
        <span>Fast Delivery</span>

      </label>

</p>
        <p>
            You want it under 48 hours? It is just 5 dollars more<br/>
            check the Fast Delivery option.

        </p>

        <p>
      <label>
        {{!-- <input id="indeterminate-checkbox" type="checkbox" /> --}}
        {{!-- <span>Air Dry</span> --}}
          <p> If you want AirdDry, describe the items you want Airdried</p>
       
            <textarea form="form_id"></textarea>
      </label>
    </p>
</form>
</div>

</section>

</section>


