<nav id="navbartwo">
    {{#if loggedUser}}
        <span>
        <a href="/"> <img src="/images/Woosh.png" alt="woosh-logo" width="140" height="60"> </a>
    </span>
        <span class="subnavtwo">
                <a class="nav-bold" href="/dashboard">DASHBOARD</a>
                <a href="/logout">LOGOUT</a>
            </span>
    {{/if}}
</nav>


<section class="list-container">
{{#each services}}

    {{!-- <span class="border"> --}}
{{!-- <section class="list-card"> --}}
    <div class="card">
  <h5 class="card-header"><b>Order To {{this.username}}</b></h5>
  <div class="card-body">
    <h5 class="card-title">Delivery to:</h5>
    <p class="card-text"> {{this.user.location.address}}.</p>
    <a href="/service/detail/{{this._id}}" class="btn btn-primary">Check details</a>
  </div>
</div>
   
 
    {{!-- </span> --}}



   


{{/each}}

</section>

  

