<h2>Request near by</h2>

{{#each services as |service|}}
<p>{{service.username}}</p>
<p>{{service.}}</p>

<a href="/service/detail/{{service._id}}">Check route</a>


{{/each}}

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>


mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNncm9zcyIsImEiOiJjanMxeGpzdzUwaGo1NDNvODhmN3JiYXAwIn0.6Bk7mxTNH-SvuwrfOSGpdQ';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
zoom: 13,


});

console.log(req.user)

</script>


