
html {
  margin: 0px;
  padding: 0px;
}

body {
  font: 20px 'Muli', Avenir, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

.go-back {
  font-size: 300%;
  position: absolute;
  top: 600px;
  left: 300px; 
  padding: 25px 130px 25px 190px;
  margin: -60px;
  opacity: 0;
}

.fourOfour {
  width: auto;
  height: 100vh;
}

.signupPage {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 90vh;
}

.signup-container {
  padding: 3% 3% 0 3%;
  width: 50%;
  height: 100vh;
}

.buttons-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons-login p {
  font-size: 80%;
  margin-left: 2px;
}

.address {
  margin: 0;
}

.address p {
font-size: 140%;
color: rgb(13, 74, 104);
}

.mind-note {
  color: #f48f30;
  font-size: 15px;
}

.signup-container h2 {
  color: rgb(13, 74, 104);
  font-weight: 800;
}

.map-signup {
  height: 20%;
  width:50%;
}

.btn {
  background-color: rgb(13, 74, 104);
}

.input-field label {
  color: rgb(171, 236, 252);
}

// FIXED THE LOGO IN THE LOGIN PAGE SO EVERYTHING APPEARS ALWAYS IN THE MIDDLE OF THE SCREEN
.loginpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.login-container {
  border: 1px solid rgb(171, 236, 252);
  height: 350px;
  width: 380px;
}

.login-container h4 {
  color: rgb(13, 74, 104);
  padding-left: 20px;
}

.servicePage {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.service-container {
  font-size: 120%;
  border: 1px solid rgb(171, 236, 252);
  align-content: center;
  justify-content: center;
  padding: 2px;
  width: 620px;
  height: 680px;
  color: rgb(13, 74, 104);
  font-size: 80%;
}

#serviceHeading {
  color: rgb(13, 74, 104);
  text-decoration: underline;
}

 #pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: 'Muli', Avenir, sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: 'Muli', Avenir, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#map {
  height: 300px;
  width: 600px;
 }

 .boton > button {
   font-size: 80%;
   height: 30px;
   width:80px;
 }

#navBar {
  padding: 25px;
  height: 80px;
  box-sizing: border-box;
  background: #0d4a68;
}
#navBar2{
  display: flex;
  padding: 10px;
  height: 80px;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  background: #0d4a68;
}
// .navbar2 img{
//   min-height: 50px;
//   max-height: 100px;
//   margin: 3%;
// }

.subNav {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.subNav a {
  font-weight: 400;
  letter-spacing: 3px;
  align-self: flex-start;
}

.subNav a:hover {
  color: #abecfc;
}

.detail-request {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  padding: 25px;
}

.detail-request #map {
  position: relative;
  top: 100px;
}

.map-detail {
  height: 500px;
  width: 500px;
}

#home-view {
  color: #0d4a68;
  padding: 50px;
  height: 90vh;
  position: relative;
}

#home-view h3 {
  font-weight: bolder;
  font-size: 50px;
}

#home-view h5 {
  width: 50%;
}

#home-view img {
  position: absolute;
  right: 30px;
  bottom: 40px;
}

#home-view button {
  background-color: #0d4a68;
  color: floralwhite;
  border-radius: 10px;
  width: 15%;
  padding: 20px;
  border: none;
  margin: 2% auto auto 15%;
}


.statusPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.status-container {
  margin: 2px;
  border: 1px solid black;
  width: 200px;
  height: 160px;
}
.woosh-logo {
  min-height: 50px;
  max-height: 100px;
  margin: 3%;
}
.dashboardPage{
  margin: 8px;
}
.dashboardPage h2{
  font-size: 350%;
  font-family: 'Muli', Avenir, sans-serif;
  text-align: center;
}
.services-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.order-card{
  border: 1px solid blue;
  height: 320px;
  width: 339px;
  padding: 3px;
  margin-right: 8px;

}
#order-delivered{
  font-size: 120%;
  color: rgb(244, 143, 48);
  padding-top: 30px;

}
.list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}
.border{
  font-size: 120%;
  padding: 5px;
  margin: 5px;
  height: 250px;
  width: 339px;
}
#pide-woosher{
  text-align: center;
  font-size: 130;
  margin-top: 10%;
}
#pide-woosher a {
  color: white;
  background-color: #5A827F;
  padding: 5px 11px;
  border-style: 2px solid
}
#pide-woosher a:hover {
  opacity: .65;
}
.woosh-logo {
  min-height: 30px;
  max-height: 80px;
  margin: 5%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100vw;
}

#signup-map {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
